In [ ]:
#создать таблицу с внесением 5 записей и вывести на экран
import pandas as pd
import pathlib
from pathlib import Path
data = {'Object': ['0', '1', '2', '3', '4'], 'Count': ['5', '6', '7', '8', '9'], 'Cost': ['10', '11', '12', '13', '14']}
df = pd.DataFrame(data)
print(df)

  Object Count Cost
0      0     5   10
1      1     6   11
2      2     7   12
3      3     8   13
4      4     9   14

In [ ]:
#сделать срез по-второму столбцу
import pandas as pd
import pathlib
from pathlib import Path
data = {'Object': ['0', '1', '2', '3', '4'], 'Count': ['5', '6', '7', '8', '9'], 'Cost': ['10', '11', '12', '13', '14']}
df = pd.DataFrame(data)
table = df.to_string(index=False)
column_slice = df.loc[:, ['Count']]
print(column_slice)

  Count
0     5
1     6
2     7
3     8
4     9

In [ ]:
#удалить пятую строчку из таблицы
import pandas as pd
import pathlib
from pathlib import Path
data = {'Object': ['0', '1', '2', '3', '4'], 'Count': ['5', '6', '7', '8', '9'], 'Cost': ['10', '11', '12', '13', '14']}
df = pd.DataFrame(data)
df.drop(4, inplace=True)
print(df)

  Object Count Cost
0      0     5   10
1      1     6   11
2      2     7   12
3      3     8   13

In [ ]:
#добавить четвертый столбец
import pandas as pd
import pathlib
from pathlib import Path
data = {'Object': ['0', '1', '2', '3', '4'], 'Count': ['5', '6', '7', '8', '9'], 'Cost': ['10', '11', '12', '13', '14']}
df = pd.DataFrame(data)
df['Total'] = ['0', '0', '0', '0', '0']
print(df)

  Object Count Cost Total
0      0     5   10     0
1      1     6   11     0
2      2     7   12     0
3      3     8   13     0
4      4     9   14     0

In [ ]:
#перемножить ячейки столбцов Count и Cost, запись результата в столбец Total
import pandas as pd
import pathlib
from pathlib import Path
data = {'Object': [0, 1, 2, 3, 4], 'Count': [5, 6, 7, 8, 9], 'Cost': [10, 11, 12, 13, 14]}
df = pd.DataFrame(data)
df['Total'] = [0, 0, 0, 0, 0]
df['Total'] = df['Count'] * df['Cost']
print(df)

   Object  Count  Cost  Total
0       0      5    10     50
1       1      6    11     66
2       2      7    12     84
3       3      8    13    104
4       4      9    14    126